.view {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 3.5rem 0;
	flex-direction: column;
}

.content_center {
	align-items: center;
	justify-content: center;
}

.logo {
	border-radius: 100%;
	animation: rotate 2s infinite linear;

	&:hover {
		animation: none;
	}

	@keyframes rotate {
		from {
			-webkit-animation: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	
		to {
			-webkit-animation: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}

.name {
	margin: 0;
	padding: 0;
}

.text_area {
	display: flex;
	padding: 1.5rem 0;
	place-items: center;
	flex-direction: column;
	justify-content: center;

	h1 {
		padding-bottom: 10px;
	}

	.born {
		padding: 2px 0;
	}
}
