.profile {
	width: 100%;
	display: flex;
	flex-direction: row;

	@media (max-width: 760px) {
		flex-direction: column;
	}

	.info {
		display: flex;
		flex-direction: column;

		.image {
			border-radius: 100%;
		}

		.heap {
			margin: 10px 0;
		}

		.company {
			margin: 2px 0 0 20px;
		}
	}

	.view {
		width: 100%;
		display: flex;
		margin-left: 2rem;
		flex-direction: column;

		@media (max-width: 760px) {
			margin: 0;
		}
	}
}

.title {
	margin-bottom: 1.5rem;

	hr {
		width: 100%;
		margin-top: 0.5rem;
	}
}

.contact {
	margin-bottom: 3rem;
}

.repos {
	gap: 24px;
	width: 100%;
	margin-bottom: 3rem;
	flex-wrap: wrap;
	display: inline-flex;

	.repo {
		width: 320px;
		border-radius: 15px;
		padding: 2rem 1.5rem;
		border: 1px solid var(--foreground);
		
		.lang_indicator {
			width: 100%;
			display: flex;
			margin-top: 10px;
		}
		
		.lang {
			width: 24px;
			height: 24px;
			border-radius: 100%;
		}
	
		.any {
			background-color: #000000;
		}
		
		.c {
			background-color: #555555;
		}
		
		.golang {
			background-color: #00ADD8;
		}
		
		.java {
			background-color: #b07219;
		}
		
		.kotlin {
			background-color: #A97BFF;
		}
		
		.python {
			background-color: #3572A5;
		}
		
		.javascript {
			background-color: #f1e05a;
		}
		
		.typescript {
			background-color: #3178c6;
		}
		
		.makefile {
			background-color: #427819;
		}
		
		.bash {
			background-color: #89e051;
		}
		
		.sql {
			background-color: #e38c00;
		}
		
		.scala {
			background-color: #c22d40;
		}
		
		.groovy {
			background-color: #4298b8;
		}
		
		.rust {
			background-color: #dea584;
		}
	}
}

.history {
	margin-bottom: 3rem;

	.histories {
		margin-bottom: 1.5rem;

		h3 {
			padding: 5px 0;
		}

		.history_ref {
			display: flex;
			margin: 0 20px;
			list-style: square;
			flex-direction: column;

			.history_item {
				margin: 0.1rem 0;
				display: flex;
				flex-direction: row;
				align-items: center;

				i {
					width: 16px;
					margin-right: 5px;
				}

				code {
					width: 100px;
					color: #aaaaaa;
					font-size: 7.5pt;
					display: inline-block;
				}

				span {
					display: inline-flex;
				}
			}
		}
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted var(--foreground);

	.tip_content {
		font-style: normal;
	}

	& .tip_content {
		left: 50%;
		z-index: 1;
		width: 120px;
		bottom: 100%;
		padding: 5px 0;
		opacity: 0;
		visibility: hidden;
		margin-left: -60px;
		text-align: center;
		border-radius: 6px;
		position: absolute;
		color: var(--foreground);
		transition: opacity 0.5s;
		background-color: var(--background);
		border: solid 1px var(--background);
	}
	
	& .tip_content::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: var(--background) transparent transparent transparent;
	}

	&:hover .tip_content {
		opacity: 1;
		visibility: visible;
	}
}
