.profile {
	width: 100%;
	display: flex;
	flex-direction: row;

	@media (max-width: 760px) {
		flex-direction: column;
	}

	.info {
		display: flex;
		flex-direction: column;

		.image {
			border-radius: 100%;
		}

		.heap {
			margin: 10px 0;
		}

		.company {
			margin: 2px 0 0 20px;
		}
	}

	.view {
		width: 100%;
		display: flex;
		margin-left: 1rem;
		flex-direction: column;

		@media (max-width: 760px) {
			margin: 0;
		}
	}
}

.title {
	margin-bottom: 1.5rem;

	hr {
		width: 100%;
		margin-top: 0.5rem;
	}
}

.contact {
	margin-bottom: 3rem;
}

.repos {
	gap: 24px;
	width: 100%;
	margin-bottom: 3rem;
	flex-wrap: wrap;
	display: inline-flex;

	.repo {
		width: 320px;
		border-radius: 15px;
		padding: 2rem 1.5rem;
		border: 1px solid var(--foreground);
		
		.lang_indicator {
			width: 100%;
			display: flex;
			margin-top: 10px;
		}
		
		.lang {
			width: 24px;
			height: 24px;
			border-radius: 100%;
		}
	
		.any {
			background-color: #000000;
		}
		
		.c {
			background-color: #555555;
		}
		
		.golang {
			background-color: #00ADD8;
		}
		
		.java {
			background-color: #b07219;
		}
		
		.kotlin {
			background-color: #A97BFF;
		}
		
		.python {
			background-color: #3572A5;
		}
		
		.javascript {
			background-color: #f1e05a;
		}
		
		.typescript {
			background-color: #3178c6;
		}
		
		.makefile {
			background-color: #427819;
		}
		
		.bash {
			background-color: #89e051;
		}
		
		.sql {
			background-color: #e38c00;
		}
		
		.scala {
			background-color: #c22d40;
		}
		
		.groovy {
			background-color: #4298b8;
		}
		
		.rust {
			background-color: #dea584;
		}
	}
}

.history {
	margin-bottom: 3rem;

	.histories {
		margin-bottom: 1.5rem;

		h3 {
			padding: 5px 0;
		}

		.history_ref {
			margin: 0 20px;
		}
	}
}
