.nav {
	width: 100%;
	height: 65px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;

	.menu_btn {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.title {
		margin: 7px;
	}
}

.action_row {
	display: flex;
	width: fit-content;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	
	.heap {
		width: 10px;
	}
}

.action_icon {
	transition-duration: 0.3s;

	i {
		font-size: 15pt;
		transition-duration: 0.3s;
	}

	&:hover {
		transition-duration: 0.3s;

		i {
			transition-duration: 0.3s;
			color: rgba(255, 255, 255, 0.55);
		}
	}
}

.menu {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	color: var(--foreground);
	background-color: var(--background);

	.menu_title {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}
