@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");

@font-face {
    font-family: "Jetbrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --background: #fefefe;
    --background-2: #ededed;
    --foreground: #111111;
    --hover-color: #777777;
    --stroke: #666666;

    --font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --mono-family: "JetBrains Mono", "Pretendard Variable", Pretendard;
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a1a1a;
        --background-2: #272727;
        --foreground: #ededed;
        --hover-color: #999999;
        --navigator-color: #444444;
    }
}

html,
body {
    height: 100vh;
    display: flex;
    max-width: 100vw;
    overflow-x: hidden;
    flex-direction: column;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-family), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: load 0.5s ease-in-out alternate;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

pre,
code {
    font-size: 12pt;
    font-family: var(--mono-family), monospace;
}

.main {
    width: 100%;
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
