.navbar {
    color: var(--foreground);
    background: var(--background-2);
}

@media (prefers-color-scheme: dark) {
    .navbar {
        color: var(--foreground);
        background: var(--background-2);
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand > span {
    margin: 0 0.5rem;
}

.navbar-text > a {
    width: 20px;
    height: 20px;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.nav-heap {
    display: inline-block;
    width: 0.25rem;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    display: inline-block;
}
