.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.profile-title {
    margin: 15px 0;
}

.info-btn {
    margin: 0.75rem 0;
}

.profile-items > * {
    margin: 5px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
