.navigator-item {
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 0;
}

.info-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-header-logo {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

@media (max-width: 960px) {
    .info-row {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-header-logo {
        width: 300px;
        height: 300px;
        border-radius: 100%;

        margin-bottom: 20px;
    }
}

.sk-line {
    width: 100%;
}

.skills {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.skills-container {
    margin: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.skill-row {
    width: 100%;
    display: table-row;
}

.skill-cell {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

.sk-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}
