.navigator-item {
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 0;
}

.info-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-header-logo {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

@media (max-width: 960px) {
    .info-row {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-header-logo {
        width: 300px;
        height: 300px;
        border-radius: 100%;

        margin-bottom: 20px;
    }
}

.sk-line {
    width: 100%;
}

.skills {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.skills-container {
    margin: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.skill-row {
    width: 100%;
    display: table-row;
}

.skill-cell {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

.sk-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project-col {
    min-height: 100px;
    display: flex;
    margin: 10px 0;
    cursor: pointer;
    user-select: none;
    padding: 10px 15px;
    border-radius: 7px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.3s;
    border: solid 1px var(--foreground);
}

.project-col:hover {
    transition-duration: 0.3s;
    border: solid 1px var(--hover-color);
}

.project, .project-link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.project > *, .project-link > * {
    margin: 0;
}

.project-title {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.project-title > h4 {
    margin: 0;
}

.project-title > i {
    margin-right: 5px;
}

.repo-icon {
    font-size: 1.5em;
}
