<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Project Website - About Me</title>

	<link rel="icon" href="/static/favicon.ico" />
	<link rel="stylesheet" href="/static/css/info.css" />
	<link rel="stylesheet" href="/static/css/header.css" />
	<link rel="stylesheet" href="/static/css/globals.css" />
	<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</head>
<body>
<div id="top"></div>
<header th:replace="~{header::header}"></header>

<main class="container">
	<div th:replace="~{fragments/info.fragments::headers}"></div>
	<div th:replace="~{fragments/info.fragments::skills}"></div>
	<div th:replace="~{fragments/info.fragments::projects}"></div>
	<div th:replace="~{fragments/info.fragments::history}"></div>

	<div th:replace="~{fragments/info.fragments::navigator}"></div>
</main>

<footer th:replace="~{header::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
