<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Website</title>

	<link rel="icon" href="/static/favicon.ico" />
	<link rel="stylesheet" href="/static/css/home.css" />
	<link rel="stylesheet" href="/static/css/header.css" />
	<link rel="stylesheet" href="/static/css/globals.css" />
</head>
<body class="main">
<header th:replace="~{header::header}"></header>

<main class="container">
	<div class="center-page">
		<img class="profile-image" src="/static/PROJECTU.png" alt="" />
		<h1 class="profile-title">Project_IO</h1>
		<div class="profile-items">
			<p>🚀 Hello! I&apos;m Full-Stack Developer and DevOps Engineer.</p>
			<pre id="born"></pre>
		</div>

		<div class="contact-items">
			<!-- TODO: create contact row items -->
		</div>

		<div class="btn-group info-btn" role="group">
			<a type="button" class="btn btn-primary" href="/aboutme">
				<span>Go to about me</span>
			</a>
			<a type="button" class="btn btn-secondary" href="/api">
				<span><i class="bi bi-plugin"></i></span>
			</a>
		</div>
	</div>
</main>

<footer th:replace="~{header::footer}"></footer>
<script src="/static/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
