<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Website</title>

    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/css/globals.css" />
</head>
<body class="main">
<div th:insert="~{header::header}"></div>

<div class="container">
	<div class="center-page">
		<img class="profile-image" src="/static/PROJECTU.png" alt="" />
		<h1 class="profile-title">Project_IO</h1>
		<div class="profile-items">
			<p>🚀 Hello! I&apos;m Full-Stack Developer and DevOps.</p>
			<pre id="born"></pre>
		</div>
	</div>
</div>
<script src="/static/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
